<h1>Bookmarks</h1>
<ul>
  <li><%= link_to "New Bookmark", new_bookmark_path %></li>
</ul>
<% @bookmarks.each do |bookmark| %>
  <ul>
    <li>url: <%= bookmark.url %></li>
    <li><%= link_to 'title: ' + bookmark.title, bookmark %></li>
    <li>description: <%= bookmark.description %></li>
    <dl>
      <dt>Tags:</dt>
      <% bookmark.tags.each do |tag| %>
        <dd><%= tag.name %>:<%= tag.color %></dd>
      <% end %>
    </dl>
  </ul>
<% end %>
