<h1>URL: <%= @bookmark.url %></h1>
<p>Title: <%= @bookmark.title %></p>
<p>Description: <%= @bookmark.description %></p>
<dl>
  <dt>Tags:</dt>
  <% @bookmark.tags.each do |tag| %>
    <dd><%= tag.name %>:<%= tag.color %></dd>
  <% end %>
</dl>
<div>
  <%= link_to "Edit", edit_bookmark_path(@bookmark) %>
  <%= link_to "Destroy", bookmark_path(@bookmark), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %>
</div>
<h2>Comments:</h2>
<ul>
  <% @bookmark.comments.each do |comment| %>
    <li><span style="font-weight: bold"><%= comment.body %></span></li>
    <p>
      <%= link_to "Destroy Comment", [comment.bookmark, comment], data:{
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
    </p>
  <% end %>
</ul>
<h2>Add a comment:</h2>
<%= form_with model: [@bookmark, @bookmark.comments.build] do |form| %>
  <p>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
