<h1><%= @bookmark.title %></h1>
<p><%= @bookmark.url %></p>
<p><%= @bookmark.description %></p>
<ul>
  <li>
    <%= link_to "Edit", edit_bookmark_path(@bookmark) %>
  </li>
  <li>
    <%= link_to "Destroy", bookmark_path(@bookmark), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>
  </li>
</ul>
<h2>Comments:</h2>
<ul>
  <% @bookmark.comments.each do |comment| %>
    <li><span style="font-weight: bold"><%= comment.body %></span></li>
  <% end %>
</ul>
<h2>Add a comment:</h2>
<%= form_with model: [@bookmark, @bookmark.comments.build] do |form| %>
  <p>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
