<div style="max-width: 540px" class="m-auto">
  <h1 class="h3 mb-3 fw-normal">Sign up</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-floating mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: ["form-control"] %>
      <%= f.label :email %>
    </div>
    <div class="form-floating mb-1">
      <%= f.password_field :password, autocomplete: "new-password", class: ["form-control"] %>
      <%= f.label :password %>
    </div>
    <div class="form-floating mb-3">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: ["form-control"] %>
      <%= f.label :password_confirmation, class: ["form-check-label"] %>
    </div>
    <div class="actions mb-3">
      <%= f.submit "Sign up", class:["btn", "btn-primary", "w-100", "py-2"] %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
