<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-2 pb-5">
  <% bookmarks.each do |bookmark| %>
    <div class="col">
      <article class="card h-100">
        <div class="card-body d-flex flex-column justify-content-between py-4">
          <div class="mb-3">
            <h2 class="card-title fs-4 text-body-emphasis" style="display: -webkit-box; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 3;">
              <%= link_to bookmark.title, bookmark_path(bookmark), class: ['link-body-emphasis', 'link-underline-opacity-0', 'link-underline-opacity-75-hover'] %>
            </h2>
            <p class="card-subtitle mb-4" style="font-size: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
              <a class="text-secondary-emphasis" href="<%= bookmark.url%>" target="_blank"><%= bookmark.url %></a>
            </p>
            <p class="card-text small"><%= truncate(bookmark.description, length: 75) %></p>
          </div>
          <div class="d-flex justify-content-between align-items-end">
            <div>
              <% bookmark.tags.each do |tag| %>
                <span class="badge text-bg-secondary fw-light">
                  <%= link_to tag.name, tag, class: ['link-body-emphasis', 'link-underline-opacity-0', 'link-underline-opacity-75-hover'] %>
                </span>
              <% end %>
            </div>
            <p class="my-0" style="font-size: 12px">
              コメント: <%= bookmark.comments_count %>件
            </p>
          </div>
        </div>
        <div class="card-footer text-end" style="font-size: 10px">
          <span class="mr-1"><%= bookmark.user.name %></span>
          <time datetime="<%= bookmark.created_at.to_datetime.iso8601 %>"><%= l bookmark.created_at %></time>
        </div>
      </article>
    </div>
  <% end %>
</div>
<div class="d-flex justify-content-center">
  <div>
    <%= paginate @bookmarks, theme: 'bootstrap-5' %>
  </div>
</div>