<div class="row">
  <div class="col-xl-10 mb-5 mb-xl-0">
    <div class="d-flex align-items-end mb-3">
      <h1 class="mb-0 me-2">ブックマーク一覧</h1>
      <span>計<%= @bookmarks.total_count %>件</span>
      <span class="ms-2">(<%= link_to "ブックマークを作成", new_bookmark_path %>)</span>
    </div>
    <%= render "shared/bookmarks", bookmarks: @bookmarks %>
  </div>
  <div class="col-xl-2 mb-5 mb-xl-0">
    <div class="d-flex align-items-end mb-3">
      <h2 class="h1 mb-0 me-3">タグ</h2>
      (<%= link_to "タグを作成", new_tag_path %>)
    </div>
    <div>
      <% @tags.each do |tag| %>
        <span class="badge text-bg-primary">
          <%= link_to tag.name, tag, class: ['link-body-emphasis', 'link-underline-opacity-0', 'link-underline-opacity-75-hover'] %>
        </span>
      <% end %>
    </div>
  </div>
</div>
