<div class="row">
  <div class="col-xl-10 mb-5 mb-xl-0">
    <div class="d-flex align-items-end mb-3">
      <h1 class="mb-0 me-3">ブックマーク一覧</h1>
      <%= link_to "(ブックマークを作成)", new_bookmark_path %>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-2">
      <% @bookmarks.each do |bookmark| %>
        <div class="col">
          <article class="card h-100">
            <%= link_to bookmark do %>
              <img src="https://cs1.animestore.docomo.ne.jp/anime_kv/img/21/82/6/21826_1_9_8b.png?1551424077000" class="card-img-top" alt="<%= bookmark.description %>">
            <% end %>
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="mb-3">
                <h2 class="card-title fs-4 text-body-emphasis" style="display: -webkit-box; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 3;"><%= bookmark.title %></h2>
                <p class="card-subtitle mb-3" style="font-size: 12px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                  <a class="text-secondary-emphasis" href="<%= bookmark.url%>" target="_blank"><%= bookmark.url %></a>
                </p>
                <p class="card-text small"><%= bookmark.description %></p>
              </div>
              <div>
                <% bookmark.tags.each do |tag| %>
                  <span class="badge text-bg-secondary fw-light">
                    <%= link_to tag.name, tag, class: ['link-body-emphasis', 'link-underline-opacity-0', 'link-underline-opacity-75-hover'] %>
                  </span>
                <% end %>
              </div>
            </div>
            <div class="card-footer text-end" style="font-size: 10px">
              <span class="mr-1"><%= bookmark.user.name %></span>
              <time datetime="<%= bookmark.created_at.to_datetime.iso8601 %>"><%= l bookmark.created_at %></time>
            </div>
          </article>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-xl-2 mb-5 mb-xl-0">
    <div class="d-flex align-items-end mb-3">
      <h2 class="h1 mb-0 me-3">タグ</h2>
      <%= link_to "(タグを作成)", new_tag_path %>
    </div>
    <div>
      <% @tags.each do |tag| %>
        <span class="badge text-bg-primary">
          <%= link_to tag.name, tag, class: ['link-body-emphasis', 'link-underline-opacity-0', 'link-underline-opacity-75-hover'] %>
        </span>
      <% end %>
    </div>
  </div>
</div>
