<h1 class="d-inline-block"><%= @tag.name %></h1>
<span class="ms-2">計<%= @bookmarks.total_count %>件</span>
<% if current_user == @tag.user %>
  （<%= link_to "編集", edit_tag_path(@tag) %> /
  <%= link_to "削除", tag_path(@tag), data: {
    turbo_method: :delete,
    turbo_confirm: "本当に削除しますか？"
  } %>）
<% end %>
<%= render "shared/bookmarks", bookmarks: @bookmarks %>
