<header class="d-flex flex-row align-items-center pb-3 mb-4 border-bottom">
  <h1><%= link_to "Bookmarks", root_path, class: ['text-decoration-none', 'link-body-emphasis'] %></h1>
  <nav class="d-inline-flex mt-md-0 ms-auto">
    <% if current_user %>
      <span class="me-3 py-1 body-emphasis"><%= user.name %></span>
      <%= link_to "ログアウト", destroy_user_session_path, class: ['py-1', 'text-decoration-none', 'link-body-emphasis'], data: {
        turbo_method: :delete
      } %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: ['me-3', 'py-1', 'text-decoration-none', 'link-body-emphasis'] %>
      <%= link_to "ユーザー登録", new_user_registration_path, class: ['py-1', 'text-decoration-none', 'link-body-emphasis'] %>
    <% end %>
  </nav>
</header>
