<!DOCTYPE html>
<html lang="ja" data-bs-theme="dark">
  <head>
    <title>Bookmarks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.svg'), type: 'image/svg+xml' %>
  </head>
  <body>
    <section class="container pt-3">
      <%= render "header", user: @user %>
      <% if flash[:notice] %>
        <div class="alert alert-info" role="alert"><%= notice %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-warning" role="alert"><%= alert %></div>
      <% end %>
      <div class="mb-5">
        <%= yield %>
      </div>
      <%= render "footer" %>
    </section>
  </body>
</html>
